html, body {
  margin: 0;
  height: 100%;
}

body {
  /*padding-top: 5%;*/
}

a {
  color: black;
}

a:hover {
  color: black;
}

#header {
  color: white;
  text-align: center;
  margin: 0 auto;
  background-color: black;
  height: 5%;
  /*width: 100%;
  position: fixed;
  top: 0;*/
}

.main-nav {
  height: 20%;
  margin-bottom: -20%;
  background-image: none;
  background-color: white;
  border: 5px solid #fff;
  box-shadow: 0px 0px 5px #aaa;
  z-index: 99;
}

.main-nav,
#main-wrapper {
  position: relative;
}

.main-nav-scrolled,
.header {
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}
.navbar-brand {
  /*position: relative;*/
  /*width: 30%;*/
  /*margin-left: calc(35%-15px);
  margin-right: calc(35%-15px);*/
  /*float: left;
  position: relative;
  left: 50%;*/
  font-size: 2.5em;
}

.main-container-fixer {
  float: left;
  position: relative;
  left: 50%;
}

.fix-please {
  float:left;
  position: relative;
  left: -50%;
}

.navbar-header-left {
  position: relative;
  right: 10%;
  margin-top: 3%;
  text-align: left;
  float: left;
}

.navbar-header-right {
  position: relative;
  left: -11%;
  padding: 0;
  text-align: left;
  margin-top: 3%;
  float: right;
}

.navbar-header-right > li {
  list-style: none;
  display: inline;
  padding: 1em;
}

#main-wrapper {
  height: 240%;
  /*used to be 200%*/
  width: 80%;
  /*padding: 0% 5% 5%;*/
  margin: 15% auto 10%;
  /*margin-top: 20%;
  margin-bottom: 10%;*/
  /*background-color: red;*/
}

.topleft-container {
  float: left;
  width: 42%;
}

.topright-container {
  float: right;
  width: 55%;
}

.topleft-container,
.topright-container {
  height: 40%;
  /*used to be 33%*/
  margin: 0 auto 2em;
}

.new-arrivals {
  font-size: 1.7em;
}

.women-men {
  font-size: 1.2em;
  text-transform: uppercase;
}

.sale-box {
  /*font-size: 1em;*/
  /*text-align: center;*/
  border: 1px solid black;
  width: 70%;
  margin: 0.4em 0 1em;
  line-height: 1;
  padding: 4px;
}

.sale-box-top {
  font-size: 1.5em;
}

.sale-box-top:hover {
  cursor: pointer;
}

.sale-box-top:hover .sale-box-bottom{
  text-decoration: underline;
}

.sale-box-bottom {
  font-size: 0.7em;
}

.topleft-image {
  width: 100%;
}

.topleft-bottom-header {
  font-size: 1em;
}

.topleft-bottom-text {
  font-size: 1em;
}

.topleft-bottom:hover {
  cursor: pointer;
}

.topleft-bottom:hover .topleft-bottom-link {
  text-decoration: underline;
}


.topright-image {
  /*width: calc(100%-3em);*/
  width: 100%;
  /*margin-left: 4em;*/
  position:relative;
  z-index: 3;
}

.topright-text {
  position: relative;
  z-index: 4;
  width: 32%;
  margin-top: -16em;
  right: -21.1em;
  padding: 0.5em 1em;
  font-size: 1.3em;
  background-color: white;
}

.topright-header {
  font-size: 0.7em;
}

.topright-link {
  font-size: 0.6em;
}

.topright-container:hover {
  cursor: pointer;
}

.topright-container:hover .topright-link {
  text-decoration: underline;
}

.middle-container {
  clear: both;
  margin: 0 auto;
  width: 100%;
  height: 23%;
  border-bottom: 4px solid black;
}

.middle-left-wrapper,
.middle-right-wrapper,
.middle-middle-wrapper {
  width: 33%;
}

.middle-left-wrapper {
  /*width: 33%;*/
  float: left;
}

.middle-right-wrapper {
  /*width: 33%;*/
  float: right;
}

.middle-middle-wrapper {
  margin: 0 5px 5px 5px;
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;
  /*width: 33%;*/
  display: inline-block;
}

/*.middle-container > img {
  width: 31%;
  float: left;
  padding: 0.4em 1em;
}*/

.middle-left-image,
.middle-middle-image,
.middle-right-image {
  width: 100%;
  padding: 0.4em 1em;
  max-height: 216px;
}

/*.middle-text-header,
.middle-text-text {
  margin-left: 1em;
}*/

.middle-text-header {
  padding-top: 0.3em;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-left: 1.1em;
}

.middle-text-text {
  font-size: 1.3em;
  margin-left: 0.9em;
  margin-bottom: 0;
}

.second-wrapper-left-link,
.second-wrapper-middle-link,
.second-wrapper-right-link {
  margin-left: 1.3em;
  font-size: 0.9em;
}

.middle-left-wrapper:hover,
.middle-middle-wrapper:hover,
.middle-right-wrapper:hover {
  cursor: pointer;
}

.middle-left-wrapper:hover .second-wrapper-left-link,
.middle-middle-wrapper:hover .second-wrapper-middle-link,
.middle-right-wrapper:hover .second-wrapper-right-link {
  text-decoration: underline;
}

.third-container {
  clear: both;
  height: 20%;
  width: 100%;
  /*border-bottom: 7px solid gray;*/
}

.third-container-header {
  width: 100%;
  height: 10%;
  float: left;
}

.third-left-container,
.third-right-container {
  width: 50%;
  height: 80%;
}

.third-left-container {
  float: left;
  border-right: 2px solid lightgray;
}

.third-right-container {
  float: right;
  padding-left: 1em;
}

.third-left-container > img {
  width: 60%;
  margin-left: 20%;
  /*margin-top: -5%;*/
}

.third-right-container > img {
  width: 56%;
  margin-left: 23%;
  /*max-height: 40%;*/
}

.third-container-left-link,
.third-container-right-link {
  font-size: 0.9em;
}

.third-left-container:hover,
.third-right-container:hover {
  cursor: pointer;
}

.third-left-container:hover .third-container-left-link,
.third-right-container:hover .third-container-right-link {
  text-decoration: underline;
}

.fourth-container {
  clear: both;
  height: 19%;
}

.fourth-container-left,
.fourth-container-right {
  border-top: 4px solid black;
}

.fourth-container-left {
  float: left;
  width: 65%;
  /*border-top: 7px solid red;*/
}

.fourth-container-right {
  float: right;
  width: 30%;
  /*border-top: 7px solid blue;*/
}

.fourth-container-header {
  display: block;
  margin: 0.4em 0 0.8em;
  font-size: 1.3em;
  /*padding: 0.5em 0;*/
}

.fourth-container-right > span {
  margin-bottom: 0.5em;
}

.fourth-container-left-one,
.fourth-container-left-two,
.fourth-container-left-three {
  width: 32.8%;
}

.fourth-container-left-one {
  float: left;
}

.fourth-container-left-two {
  margin: 0 5px 5px 5px;
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;
  display: inline-block;
}

.fourth-container-left-three {
  float: right;
}

.fourth-container-left-image {
  width: 80%;
  margin-left: 10%;
  max-height: 229px;
}

.fourth-container-left-header,
.fourth-container-left-text {
  margin-left: 10%;
}

.fourth-container-left-header {
  font-size: 0.9em;
  text-transform: uppercase;
}

.fourth-container-link:hover {
  text-decoration: none;
}


.fourth-container-list,
.fifth-container-list {
  list-style: none;
  padding-left: 0;
}

.fourth-container-list > li > a {
  color: black;
  font-size: 1.1em;
}

.fifth-container {
  clear: both;
  height: 43%;
  /*border-bottom: 1px solid black;*/
  /*width: 90%;*/
  padding: 1em 12% 0;
  /*margin: 0 auto;*/
  background-color: #EFE9E5;
}

.fifth-container-one,
.fifth-container-two,
.fifth-container-three,
.fifth-container-four {
  width: 20%;
  margin-left: 5%;
}

.fifth-container-one,
.fifth-container-two {
  float: left;
}

.fifth-container-three,
.fifth-container-four {
  float: right;
}

.fifth-container-list-header {
  text-transform: uppercase;
  /*border-bottom: 1px solid gray;*/
}

.fifth-container-one > ul,
.fifth-container-two > ul,
.fifth-container-three > ul,
.fifth-container-four > ul {
  border-top: 1px solid gray;
  line-height: 2;
  margin-top: 0.5em;
  padding-top: 0.5em;
}

.contact-us {
  clear:both;
  height: 20%;
  padding-top: 3.5%;
  text-align: center;
}

.contact-us-list > li {
  list-style: none;
  display: inline;
  margin-right: 25px;
}

#footer {
  height: 35%;
  width: 100%;
  background-color: #EFE9E5;
  text-align: center;
  padding-top: 10px;
}

#footer > a:hover {
  text-decoration: none;
}

#footer > a {
  margin-right: 10px;
  margin-left: 10px;
}

/*img {
  opacity: 1;
  -webkit-transform: scale(1,1);
  -moz-transform: scale(1,1);
  -o-transform: scale(1,1);
  -ms-transform: scale(1,1);
  transform: scale(1,1);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

img:hover {
  opacity: 0.7;
  -webkit-transform: scale(2,2);
  -moz-transform: scale(2,2);
  -o-transform: scale(2,2);
  -ms-transform: scale(2,2);
  transform: scale(2,2);
}*/

@media (min-width: 600px) {

}

@media (min-width: 700px) {

}

@media (min-width: 768px) {

}

@media (min-width: 840px) {

}

@media (min-width: 900px) {

}

@media (min-width: 960px) {

}

@media (min-width: 1024px) {
  .main-nav {
     margin-bottom: -10%;
  }
}

@media (min-width: 1024px) and (min-height: 768px) {
  .main-nav {
    margin-bottom: -15%;
  }
}

@media (min-width: 1128px) {
  .main-nav {
    margin-bottom: -9%;
  }
}

@media (min-width: 1128px) and (min-height: 768px) {
  .main-nav {
    margin-bottom: -13%;
  }
}

@media (min-width: 1200px) {
  .main-nav {
    margin-bottom: -10.4%;
  }
}

@media (min-width: 1280px) and (min-height: 720px) {
  .main-nav {
    margin-bottom: -10.9%;
  }
}

@media (min-width: 1280px) and (min-height: 800px) {
  .main-nav {
    margin-bottom: -12%;
  }
}

@media (min-width: 1328px) {
  .main-nav {
    margin-bottom: -13.7%;
  }
}

@media (min-width: 1366px) and (min-height: 768px) {
  .main-nav {
    margin-bottom: -11%;
  }
}
